!!!
%html{lang: 'nl'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{:"http-equiv" => "X-UA-Compatible", content: "IE=Edge"}
    %title denkGroot Apps & websites

    %link{href: "http://fnt.webink.com/wfs/webink.css/?project=7986BB53-D836-417B-B969-828D75C900FC&fonts=4F449915-A3A8-CF9A-BB23-D64A3A9C1A7A:f=SkolarWeb-Italic,9C5DF801-C745-E177-908F-369BCECD52B7:f=Aller-Italic,1B6C2E6C-BB21-53D3-2175-C814D91AD16C:f=Aller-Bold,E91036C1-9B3E-398B-6BC8-3F30F4412BFB:f=SkolarWeb-Bold,A504D07C-783E-0F85-8B38-EFB57612CD7B:f=AllerDisplay-Regular,32A3E230-3101-A662-F6D5-D8B9D0A38A5B:f=Aller-Regular,BA035607-6CEF-91EE-45AA-C22E5D831064:f=SkolarBasicLt-Regular", rel: "stylesheet" }

    %link{rel: 'stylesheet', href: '/stylesheets/application.css'}

    /[if lt IE 9]
      %script{src: "//html5shiv.googlecode.com/svn/trunk/html5.js"}
      %script{src: '/javascripts/selectivizr.min.js'}

  %body{data: {spy: "scroll", target: "nav"}}
    /[if lt IE 8]
      %script{src: "/javascripts/localization/nl_NL.js"}
      %script{src: "/javascripts/warning.js"}
      %script{src: "/javascripts/iewarning.js"}

    %nav
      %ul.nav{style: 'width: 100%'}
        %a#logo{href: '#home'} denkGroot

        %li
          %a{href: '#home'} Home
        %li
          %a{href: '#about'} Over ons
        %li
          %a{href: '#services'} Diensten
        %li
          %a{href: '#portfolio'} Ons werk
        %li
          %a{href: '#contact'} Contact

    %section.page#home
      = yield

    %section.page#about
      = haml :overons

    %section.page#services
      = haml :diensten

    %section.page#portfolio
      = haml :onswerk

    %section.page#contact
      = haml :contact

    = haml :footer

    %script{src: '/javascripts/jquery.min.js'}
    %script{src: '/javascripts/jquery.easing.js'}
    %script{src: '/javascripts/jquery.scrollspy.js'}
    %script{src: '/javascripts/application.js'}
    %script{src: 'http://include.reinvigorate.net/re_.js'}
    %script
      try { reinvigorate.track("88498-e6057oz024") } catch(err) {}
